/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
.jumbotron{
	text-align: center;
	background-image: url('../images/hero.jpg');
	color: white;
}
.btn-lg{
	font-size: 36px;
}
ul.nav{
	font-size: 13px;
}
ul.nav, .jumbotron h1{
	font-family: 'Arvo', serif;
}
footer{
	background-color: #33cc33;
	padding-top: 50px;
	padding-bottom: 20px ;
	text-align: center;
	text-size:50px;
}
#get-involved{
	background-color: #f5f5f5;
}
.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px;
}
.jumbotron p{
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}
.ep{
	font-size: 20px;
	font: bold;
}
.homepage{
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}
.homepage h2{
	color: #33cc33;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
}
.homepage h3{
	color: #33cc33;
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	font-size: 26px;
}
.homepage p{
	font-size: 21px;
	font-weight: 300;
}
.homepage a {
	color: #33cc33;
}
.homepage hr{
	border-color:#33cc33;
	width: 15%;
	margin-top:15px;     
}
.homepage a:hover{
	color: #33cc33;
	text-decoration: none;
	opacity: .8;
}
/* responsive styling */

@media (max-width: 1199px) {
	.jumbotron h1{
		font-size: 56px;
		margin-bottom: 30px;
	}

}
@media (max-width: 991px) {
	.jumbotron h1{
		font-size: 44px;
	}
	.jumbotron p{
		padding: 0 10px;
	}
	#get-involved.col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (max-width: 767px) {
	.jumbotron h1{
		font-size: 24px;
	}
	.jumbotron p{
		font-size: 16px;
		padding: 0 ;
	}
	.btn-lg{
		font-size: 18px;
	}
	.homepage p{
		font-size: 18px;
	}
}